logs/
target/
.DS_Store
Thumbs.db
chromedriver.log
tmp.exe
*.class
.classpath
.idea/
.project
.settings/
bin/
src/test/java/com/wikia/webdriver/Trash/
src/test/java/com/wikia/webdriver/Properties/
test-output/
Wikia.iml
captcha.txt
config.xml
pom.xml
