*.class
*.iml
.classpath
.DS_Store
.idea/
.gradle/
.project
.settings/
captcha.txt
config.xml
config.yml
chromedriver.log
bin/
out/
build/
classes/
logs/
classes/
target/
test-output/
Thumbs.db
tmp.exe
selenium-config/
caches/
src/test/resources/ImagesForUploadTests/random_image.png
velocity.log
