package com.wikia.webdriver.Common.Core.Configuration;

import java.io.File;

/**
 * This is a sample file for ManualConfiguration class
 * If you want to run your tests using IDE instead of POM you need to create
 * ManualConfiguration.java in your local repo. This file is for you only!
 * REMEBER TO IMPLEMENT THE ConfigurationInterface!
 *
 * @author Bogna 'bognix' Knychała
 */
public class ManualConfiguration implements ConfigurationInterface {

	private String browser = "FF"; //Accepted values: FF, CHROME, GHOST, IE
	private String env = "prod"; //Accepted values: prod, dev-name, preview, sandbox-number
	private String wikiName = "mediawiki119"; //Mediawiki119 is default testing wiki
	private String propertiesPath = ""; //Set path to your selenium-config/config.xml file
	private String captchaPath = ""; //Set path to your selenium-config/captcha.xml file

	@Override
	public String getBrowser() {
		return this.browser;
	}

	@Override
	public String getEnv() {
		return this.env;
	}

	@Override
	public String getWikiName() {
		return this.wikiName;
	}

	@Override
	public File getPropertiesFile() {
		return new File(propertiesPath);
	}

	@Override
	public File getCaptchaFile() {
		return new File(captchaPath);
	}

	@Override
	public boolean loginCookieAvailable() {
		return !env.contains("dev");
	}
}
