    <tr class="step">
        <td>&nbsp</td>
        <td>STOP LOGGING METHOD
            <div style="text-align:center"><a href="#toc" style="color:blue">
            <b>BACK TO MENU</b></a>
            </div>
        </td>
        <td> <br/> &nbsp;</td>
    </tr>
</table>
