<tr class=$className>
    <td>stacktrace</td>
    <td><pre>$command</pre></td>
    <td> <br/>
        <a href='screenshots/screenshot${imageCounter}.png'>Screenshot</a><br/>
        <a href='screenshots/screenshot${imageCounter}.html'>HTML Source</a>
    </td>
</tr>
